.home{
display: flex;
height: 100vh;
flex-direction: column;
}

.home_header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    /* box-shadow: 0px 0.5px 5px 0.4px rgb(55, 53, 53); */
    
}
.home_header a{
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}
.home_header a:hover{
    text-decoration: underline;
}
.header_right{
    display: flex;
    align-items: center;
    min-width: 20vw;
    justify-content: space-between;
}

.home_right > .MuiSvgIcon-root{
margin-right: 20px;
}


/* body */
.home_body > img{
    object-fit: contain;
    height: 100px;
    

}

.home_body{
    position: relative;
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}